:root {
    --ion-toolbar-background: var(--ion-color-primary);
    --ion-tab-bar-background: var(--ion-color-primary);
    --ion-toobar-color: var(--ion-color-primary-contrast);
    --ion-tab-bar-color: var(--ion-color-primary-contrast);
    --ion-tab-bar-color-selected: var(--ion-color-secondary);
}

.ios ion-card-title {
    font-size: 1.5rem;
}

.ios ion-card-subtitle {
    font-size: 1rem;
}